*{  margin: 0;
    box-sizing: border-box;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

header{
    top: 0px;
    width: 100%;
    padding: 0;
}
.contenedortop{ background-color: black;
    color: aliceblue;
}
.p1{
    position: relative;
    left: 20px;
    top: 10px;
    padding: 0px;
}
.p2{position: relative;
    color: white;
    text-align: end;
    top: -10px;    
    }

.headerprincipal{
        background-color: #F0A83E   ;
        padding: 25px;
        color: white;
        text-align: center;
        display: flex;
        justify-content: space-around;
        top: auto;
        z-index: 10;
        align-items: center;
}
/* brackground */
.img-back{
    width: 100%;
    height: 500px;
    background-image: url(img/bowl-pet-daities-green-background.jpg);
    position: relative;

}

.img-text{width: 100%;
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    top: 250px;
    left: 400px;
    
}
.img-text p{background-color: #FFFFFF;
border-radius: 5px;
padding: 5px;}

h1{
    font-size: 2rem;
    background-color: white;
    padding: 10px;
    border-radius: 5px;
    margin: 10px;
}
.btncomederos{
background-color: #F0A83E ;
padding: 15px;
border-radius:15px;
font-family: 'Roboto';
font-weight: 400;
font-size: 1rem;
line-height: 19px;
text-align: center;
color: #FFFFFF;
text-decoration: none;
}
.menuproductos{
    position: relative;
    text-align: center;
}
.patagrande{
    width: 8%;
}
h2{color: #3C2313;
    text-align: center;
    font-size: 45px;
    margin: 20px 0 30px;}

.etiquetaproductos{
    display: flex;
    justify-content: center;
    text-decoration: none;
    gap: 30px;
    color: #666666;
}
a:link { text-decoration: none;
}
.containt-productos{
    
    display: flex;
    justify-content:space-around;
    text-align: center;
    margin-block:  40px;
}
.formulario{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.formulario input{
    width: 400px;
    padding: 10px;
    border-radius: 10px;
    margin: 3px;
    background-color:  #3C2313;
    color: white;
}

.submit{

width: 110px;
height: 34px;
background: #F0A83E;
border-radius: 15px;
color: #FFFFFF;
border-color: #F0A83E;

}
.reset{
width: 110px;
height: 34px;
color: #FFFFFF;
background: #8A8787;
border-radius: 15px;
border-color: #8A8787;
}
.contesuscribite{
background-color: #F0A83E;
display: flex;
justify-content: space-between;
padding: 10px;

}
.logocorreo{
display: flex;
align-items: center;
font-family: 'Roboto';
font-style: normal;
font-size: 25px;
color: #FFFFFF;

}
.correosuscribite{
    background: #FFFFFF;
    border-radius: 20px;
    right: 80px;
    bottom: 10px;
    width: 300px;
    height: 10px;
    padding: 20px;
    border-style: none;
    font-size: 16px;
}
.buttonsuscribite{
    color: #FFFFFF;
    border-radius: 20px;
    width: 100px;
    height: 40px;
    background-color: #3C2313;
    border-style: none;
    font-size: 16px; 
}

.footerprincipal{
    background-color: #3C2313;

}

.derechosfooter{
    background-color: black;
    color: #FFFFFF;
    display: flex;
    align-items: center;
    padding: 10px;
    justify-content: center;
    
}

.footerprincipal{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 50px;

}
.infopag div{
    display: flex;
    align-items: center;
    color: #FFFFFF;
    gap: 10px;
    
}
.toggle-menu{
    top: 1rem;
    right: 1.5rem;
    cursor: pointer;
}
@media (min-width: 481px)
{
    .toggle-menu{
        display: none;
    }
}
@media (max-width: 480px)
{
.contenedortop{display: none;
    visibility:hidden;
}
.headerprincipal{
    justify-content: space-between;
}
.navpatitas {
    display: none;
}
.img-text{
    left: 0px;
}
.containt-productos{
    flex-direction: column;
}
.contesuscribite{
    flex-direction: column;
    padding-left: 35px;
}
.footerprincipal{
    display: flex;
    flex-direction: column-reverse;
    gap: 20px;
}
.infopag{
    width: 80%;
}
.formulario{
    justify-content: center;

}
.formulario input{
    width: 70%;
}
.logocorreo p { font-size: 1.2rem;}
.buttonsuscribite{margin: 5px;}
}